services:
  neo4j:
    image: neo4j:5-community
    container_name: dedalus-neo4j
    pull_policy: always
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./neo4j/data:/data
      - ${IMPORT_DIR:-.}:/import
    environment:
      - NEO4J_AUTH=none
      - NEO4J_server_directories_import=/import
      - NEO4J_server_memory_heap_initial__size=4G
      - NEO4J_server_memory_heap_max__size=8G
      - NEO4J_server_memory_pagecache_size=4G
